<div class="file_container">
  <div class="file_container__left-side mt-2">
    <div [hidden]="!inRendering" class="my-spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="isLoaded" class="container">
      <div class="row">
        <div class="col-md-12">
          <div style="text-align: center;">
            <span class="mr-3">{{ version.document.name }}</span>
            <span class="mr-3">{{ totalPages }} Pages</span>
            <button (click)="addScore()" class="mr-3">addScore</button>
            <a routerLink="/versions/{{ version.document.id }}" class="btn btn-info mr-3">list of versions</a>
            <span class="btn btn-info" (click)="download()">download</span>
          </div>
        </div>
      </div>
    </div>

    <pdf-viewer src="{{fileURL}}"
                [render-text]="true"
                [render-text-mode]="2"
                (after-load-complete)="afterLoadComplete($event)"
                (text-layer-rendered)="textLayerRendered($event)"

                (mouseup)="mouseEvent($event)"
    ></pdf-viewer>

  </div>

  <div class="file_container__right-side">
    <div class="list">
      <div *ngIf="currentComment" class="list-row">
        <div *ngIf="canDeleteCurrentComment" class="delete-btn mt-5 mr-2">
          <i class="btn btn-danger" (click)="delete(); $event.stopPropagation();">remove</i>
        </div>
        <h3>Choosen comment</h3>
        <div>Author: {{ currentComment.owner.name }}</div>
        <div>Selected text: </div>
        <textarea disabled="disabled" rows="2">{{ currentComment.toText }}</textarea>
        <div>Comment: </div>
        <textarea disabled="disabled" rows="2">{{ currentComment.text }}</textarea>
      </div>

      <div *ngIf="newComment" class="list-row">
        <h3>Create comment</h3>
        <div>Selected text:</div>
        <textarea disabled="disabled" rows="3">{{ newComment.toText }}</textarea>
        <div>
          Comment:
          <input type="text" [(ngModel)]="newComment.text"
                 class="form-control" id="text" name="text" placeholder="Enter your comment"
                 required #text="ngModel">
        </div>
        <span class="btn btn-info mt-3" (click)="saveComment()">save</span>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </div>
  </div>
</div>
