<div class="card my-5">
  <div class="card-body">
    <p>Meine Dokumente</p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Datum</th>
        <th scope="col">Anzahl von Versionen</th>
        <th scope="col">Liste von Versionen</th>
        <th scope="col">Letzte Version</th>
        <th scope="col">Neue Version hochladen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of myDocuments">
        <td>{{ document.id }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.createdDate | createdDateFormat }}</td>
        <td>{{ document.versions.length }}</td>
        <td><a routerLink="/versions/{{ document.id }}" class="btn btn-info">list</a></td>
        <td><a routerLink="/version/{{ document.versions | getLastVersion }}" class="btn btn-info">last</a></td>
        <td><a [routerLink]="['/addversion', document.id]" class="btn btn-info">new</a></td>
      </tr>
      </tbody>
    </table>
    <a [routerLink]="['/adddocument']" class="btn btn-info">neue Dokument erstellen</a>
  </div>

  <div class="card-body">
    <p>Alle Dokumente</p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Datum</th>
        <th scope="col">Anzahl von Versionen</th>
        <th scope="col">Liste von Versionen</th>
        <th scope="col">Letzte Version</th>
        <th scope="col">Besitzer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of allDocuments">
        <td>{{ document.id }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.createdDate | createdDateFormat }}</td>
        <td>{{ document.versions.length }}</td>
        <td><a routerLink="/versions/{{ document.id }}" class="btn btn-info">list</a></td>
        <td><a routerLink="/version/{{ document.versions | getLastVersion }}" class="btn btn-info">last</a></td>
        <td>{{ document.owner.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
