<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/documents">List of documents</a>
    <a class="nav-item nav-link" routerLink="/users">List of users</a>
  </div>
  <div class="navbar-brand mr-auto">{{ title }}</div>
  <div class="navbar-nav">
    <a *ngIf="!authenticationService.authenticated" class="nav-item nav-link" (click)="login()">Login</a>
    <a *ngIf="!authenticationService.authenticated" class="nav-item nav-link" (click)="register()">Register</a>
    <a *ngIf="authenticationService.authenticated" class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <flash-messages></flash-messages>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
