<div class="card my-5">
  <h3>Upload of a new version</h3>
  <div class="card-body"  *ngIf="document">
    <div> Upload a new version for <span class="font-weight-bold">{{ document.name }}</span></div>
    <form (ngSubmit)="onSubmit()" #documentForm="ngForm">
      <div class="form-group">
        <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>

        <div class="drop-box" ng2FileDrop
             [ngClass]="{'dragover': isDropOver}"
             [uploader]="uploader"
             (fileOver)="fileOverAnother($event)"
             (click)="fileClicked()">
          <span class="drag-in-title">Import or drag file here</span>
          <span class="drag-over-title">Drop the file</span>
        </div>
        <div [hidden]="fileItem != undefined" class="alert alert-danger">File is required</div>
        <div [hidden]="originalName == undefined" class="alert alert-info">{{ originalName }}</div>
      </div>
      <button type="submit" [disabled]="!documentForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
