<div class="card my-5">
  <div class="card-body" *ngIf="document">
    <p>Versions of <span class="font-weight-bold">{{ document.name }}</span></p>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Version</th>
        <th scope="col">Date</th>
        <th scope="col">Amount of comments</th>
        <th scope="col">Open the file</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let version of versions">
        <td>{{ version.id }}</td>
        <td>{{ version.version }}</td>
<!--        <td>{{ version.createdDate | date:'dd.MM.yyyy \'um\' HH:mm:ss'}}</td> old date format -->
        <td>{{ version.createdDate | createdDateFormat }}</td>
        <td>{{ version.comments.length }}</td>
        <td><a [routerLink]="['/version', version.id]">show</a></td>
      </tr>
      </tbody>
    </table>
    <a [routerLink]="['/addversion', document.id]" class="btn btn-info">Create a new version</a>
  </div>

</div>
